:root{
    --base-width: 1366px;
}
body{
    background: linear-gradient(to bottom, rgba(17,22,33,1) 0%,rgba(11,23,33,1) 51%,rgba(1,27,53,1) 100%);
    height: 100vh;
}
.main-screen{
    width: var(--base-width);
    height:100vh;
    background: #000;
    overflow: hidden;
}
.main-interface{
    position: absolute;
    width: 100%;
    /*z-index: 100;*/
}
.screen-wrapper{
    width:var(--base-width);
    cursor: none;
    display: block;
    position: absolute;
    z-index: 5;
}
/* ui */
.life-block{
    width: 30px;
    padding: 1px;
}
.glass{
    width:100%;
    height:100vh;
    background: rgba(0,0,0, .3);
    position: absolute;
    z-index: 1;
}
.info-ui-interface{
    /*padding:10px;*/
    width: 100%;
	font-size:20px;
	color:#fff;
	font-weight:bold;
	float:left;
	position: relative;
    z-index: 15;
}
.click-area{
    width:100%;
    height:100%;
    z-index: 20;
}
.info-field{
    color:#fff;
    display: grid;
    grid-template-rows: 20% 20%;
    align-content: space-evenly;
    justify-content: center;
}
.btn{
    margin:5px
}
.main-game-info{
    width:100%;
    height:100%;
    padding:20px;
    z-index: 10;
    position: relative;
    pointer-events: none;
    /*background: #334041;
    cursor: pointer;*/
}
.cursore-screen{
    width:var(--base-width);
    height:100vh;
    background-color: rgba(0,0,0,.2);
    position: absolute;
    z-index: 5;
}
.start-screen-wrapper{
    cursor: url("../img/cursor_2.cur"), auto;
    text-align:center;
    width:var(--base-width);
    height: 100vh;
    color:#fff;
    font-size: 24px;
    display:grid;
    grid-template-rows: 20% 20% 20%;
    align-content: space-evenly;
    justify-content: center;
}
.clickable-area{
    border-radius: 60px;
    border: 1px solid #fff;
    padding: 23px 60px 23px 60px;
    transition: .5s;
}
.clickable-area:hover{
    background: #fff;
    color: #007BD1;
}
.large-text{
    font-weight: 900;
}
.small-text{
    font-weight: 100;
}
.name-wrapper > span{
    font-size:100px;
}
.main-logo{
    width:100px;
}
.timer-field{
    float:right;
}
.main-alert{
    position: absolute;
    width: 1366px;
    height: 300px;
    background: #334041;
    padding: 6%;
    margin: 9% auto;
    cursor: url("../img/cursor_2.cur"), auto;
    z-index: 1500;
}
/*  ship  */
.player-ship{
    width: 65px;
    height: 45px;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 10;
    /*background-color: rgba(0, 0, 0, .6);*/
}
.enemy-ship{
    width: 65px;
    height: 57px;
    /*background-size: 100%;*/
    position: absolute;
    -webkit-animation: enemy-move 10s forwards;
	-webkit-animation-delay: 0s;
	animation: enemy-move 10s forwards;
    animation-delay: 0s;
    animation-direction: normal;
	animation-iteration-count: 1;
    animation-timing-function:linear;
    z-index: 10;
}
@keyframes enemy-move{
    100%{margin-left: -400px;}
}
.enemy-ship-animation{
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    /*background-image: url("../img/explosion.png");*/
    background-size: 1300px;
    background-repeat: no-repeat;
    -webkit-animation-name: ship_animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
    animation-name: ship_animation;
    animation-duration:2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function:steps(20, end);
    animation-direction:reverse;
    z-index: 10;
}
@keyframes ship_animation{
    0%{ background-position-x: 0px;}
    100%{background-position-x: -1300px;}
}
.enemy-ship-animation-short{
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    background-size: 650px;
    background-repeat: no-repeat;
    -webkit-animation-name: ship_animation_short;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
    animation-name: ship_animation_short;
    animation-duration:2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function:steps(10, end);
    animation-direction:reverse;
    z-index: 120;
}
@keyframes ship_animation_short{
    0%{ background-position-x: 0px;}
    100%{background-position-x: -650px;}
}
.enemy_boss_1{
    width: 170px;
    height: 148px;
    display:block;
    position:absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10;
}
.boss-1-ship-animation-short{
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    background-size: 1700px;
    background-repeat: no-repeat;
    -webkit-animation-name: boss-1_animation_short;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
    animation-name: boss-1_animation_short;
    animation-duration:2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function:steps(10, end);
    animation-direction:reverse;
    z-index: 10;
}
@keyframes boss-1_animation_short{
    0%{ background-position-x: 0px;}
    100%{background-position-x: -1700px;}
}
.enemy_boss_2{
    width: 206px;
    height: 217px;
    display:block;
    position:absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10;
}
.boss-2-ship-animation-short{
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    background-size: 2060px;
    background-repeat: no-repeat;
    -webkit-animation-name: boss-2_animation_short;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
    animation-name: boss-2_animation_short;
    animation-duration:2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function:steps(10, end);
    animation-direction:reverse;
    z-index: 10;
}
@keyframes boss-2_animation_short{
    0%{ background-position-x: 0px;}
    100%{background-position-x: -2060px;}
}
/*   map  */
.screen-map{
    width:100vw;
    height:100vh;
    background-size:cover;
    -webkit-animation-name: background-move;
    -webkit-animation-duration: 40s;
    -webkit-animation-delay: 0s;
    animation-name: background-move;
    animation-duration: 40s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse; /*normal*/
    animation-timing-function:linear;
    position: relative;
    background-position: center;
}
@keyframes background-move{
    0% { background-position-x: 0vw;}
    100% {background-position-x: 100vw;}
}
.player-bullet{
    width:50pt;
    height:5pt;
    border-radius: 5pt;
	border:2pt solid #00FF00;
    background-color:#FFF;
    position:absolute;
    box-shadow: 0 0 10pt rgba(0,255,0,0.5);
    -webkit-animation: player-bullets-animation 10s forwards;
	-webkit-animation-delay: 0s; 
	animation: player-bullets-animation 10s forwards;
	animation-delay: 0s;
	animation-iteration-count: 1;
    animation-timing-function:linear;
    z-index: 5;
}
@keyframes player-bullets-animation{
    100%{margin-left: 3400px;}
}
.enemy-bullet{
    width:50pt;
    height:5pt;
    border-radius: 5pt;
	border:2pt solid #FFFF00;
    background-color:#FFF;
    position:absolute;
    box-shadow: 0 0 10pt rgba(255,255,0,0.5);
    -webkit-animation: enemy-bullets-animation 10s forwards;
	-webkit-animation-delay: 0s; 
	animation: enemy-bullets-animation 10s forwards;
	animation-delay: 0s;
	animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-direction: normal; /*normal*/
    z-index: 5;
}
@keyframes enemy-bullets-animation{
    100%{margin-left: -3400px;}
}
.enemy-bullet-top{
    width:20pt;
    height:20pt;
    border-radius: 50pt;
	border:2pt solid #FFFF00;
    background-color:rgb(255, 255, 255);
    position:absolute;
    box-shadow: 0 0 10pt rgba(255,255,0,0.5);
    -webkit-animation: enemy-bullets-animation-top 10s forwards;
	-webkit-animation-delay: 0s; 
	animation: enemy-bullets-animation-top 10s forwards;
	animation-delay: 0s;
	animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-direction: normal; /*normal*/
    z-index: 5;
}
@keyframes enemy-bullets-animation-top{
    100%{margin-left: -3400px; margin-top: -2400px;}
}
.enemy-bullet-bottom{
    width:20pt;
    height:20pt;
    border-radius: 50pt;
	border:2pt solid #FFFF00;
    background-color:rgb(255, 255, 255);
    position:absolute;
    box-shadow: 0 0 10pt rgba(255,255,0,0.5);
    -webkit-animation: enemy-bullets-animation-bottom 10s forwards;
	-webkit-animation-delay: 0s; 
	animation: enemy-bullets-animation-bottom 10s forwards;
	animation-delay: 0s;
	animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-direction: normal; /*normal*/
    z-index: 5;
}
@keyframes enemy-bullets-animation-bottom{
    100%{margin-left: -3400px; margin-top: 3400px;}
}
.flame_block{
    width: 72pt; /*54*/
    height: 90pt; /*70*/
    display: block;
    position: absolute;
    background-image: url("../img/explosion.png");
    background-size: 3192pt;
    background-repeat: no-repeat;
    -webkit-animation-name: flame_animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
    animation-name: flame_animation;
    animation-duration:2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function:steps(22, end);
    animation-direction:reverse;
    z-index: 120;
}
@keyframes flame_animation{
    0%   {background-position-x:0pt; }
    100% {background-position-x:-3192pt;}
}